*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    height: 79vh;
    width: 80%;
    background-color: antiquewhite;
    margin: 10vh auto;
   position: relative;
}
.box1{
    width: 30%;
    height: 79vh;
    background-color: yellow;
   
    align-content:space-around;
  
}
.one{
    width: 100%;
    height: 19vh;
    background-color: aquamarine;
    justify-content: space-between;
    display: flex;
    
}
.eleven{
    width:49.50%;
    height: 19vh;
    background-color: tomato;

}
.twelve{
    width:49.50%;
    height: 19vh;
    background-color: turquoise;

}
.two{
    width: 100%;
    height: 19vh;
    background-color: red;
    margin-top: 1vh;
    justify-content: space-between;
    display: flex;
}
.fourtin{
    width:49.50%;
    height: 19vh;
    background-color: tomato;
}
.fiftin{
    width:49.50%;
    height: 19vh;
    background-color: turquoise;
}
.three{
    width: 100%;
    height: 19vh;
    background-color: blue;
    margin-top: 1vh;

}
.four{
    width: 100%;
    height: 19vh;
    background-color: green;
    margin-top: 1vh;

}
.box2{
    width: 40%;
    height: 30vh;
  position: absolute;
    background-color: hotpink;
   top: 25vh;
   left: 45%;
   display: flex;
}
.five{
    height: 30vh;
    width: 70%;
    background-color: blueviolet;
    padding: 10%;
    
}
input{
    margin-top: 4vh;
    margin-left:40px ;
}

.six{
height: 30vh;
width: 30%;
background-color: burlywood;
display: flex;
align-self: center;
/* z-index: -1; */

}
.seven{
width: 140px;
height: 140px;
border-radius: 50%;
background-color: brown;
align-self: center;
/* z-index: +2; */
overflow: hidden;


}
.eleven ul{
display: flex;
flex-wrap: wrap;
padding: 10%;

}
.eleven ul li{
width: 40px;
height: 40px;
list-style: none;
margin: 2%;
}
.twelve ul{
display: flex;
flex-wrap: wrap;
padding: 10%;
}
.twelve ul li{
width: 40px;
height: 40px;
list-style: none;
margin: 2%;
}
.fourtin ul{
display: flex;
flex-wrap: wrap;
padding: 10%;
}
.fourtin ul li{
width: 40px;
height: 40px;
list-style: none;
margin: 2%;
}
.bgelevenred{
background-color: red;
}
.bgelevenyellow{
background-color: yellow;
}
.bgelevengreen{
background-color: green;
}
.bgelevenblue{
background-color: blue;
}
.bgelevenvolit{
background-color: blueviolet ;
}
.bgelevenhotpink{
background-color: hotpink; 
}
.fiftin ul{
display: flex;
flex-wrap: wrap;
padding: 10%;
}
.fiftin ul li{
width: 40px;
height: 40px;
list-style: none;
margin: 2%;

}
.three ul{
display: flex;
flex-wrap: wrap;
/* padding: 10%; */
}
.three ul li{
width: 75px;
height: 20px;
list-style: none;
margin-left: 2%;
color: tan;
background-color: teal;
/* font-size: medium; */

}
.four ul{
display: flex;
flex-wrap: wrap;
/* padding: 10%; */
}
.four ul li{
width: 70px;
height: 40px;
list-style: none;
margin: 2%;
color: tan;
background-color: teal;
/* font-size: medium; */

}